.th25 {
    width: 25px;
}

.th30 {
    width: 30px;
}

.th40 {
    width: 40px;
}

.th45 {
    width: 45px;
}

.th50 {
    width: 50px;
}

.th100 {
    width: 100px;
}

.th150 {
    width: 150px;
}

.th5p {
    width: 5%;
}

.th10p {
    width: 10%;
}

.th20p {
    width: 20%;
}

.th25p {
    width: 25%;
}

.th33p {
    width: 33%;
}
